---
import "../styles/global.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Mukezhz: Personal Site",
  description = `
  I believe in the power of continuous learning and sharing knowledge. Through my experiences, I have realized that learning is a two-way street - not only do I constantly seek opportunities to enhance my skills and expand my understanding of software development, but I also embrace the opportunity to share my knowledge and insights with others. By sharing what I've learned, I contribute to the growth and development of the larger software development community.
  
  On this website, you'll find a showcase of my projects, demonstrating my skills and expertise in designing and developing software solutions. I invite you to explore my work, learn from my experiences, and connect with me to collaborate or discuss exciting opportunities.`,
} = Astro.props;
const image = "/assets/mee.png";
const imageDescription = "Mukezhz's Image";
---

<meta charset="UTF-8" />
<meta name="title" property="og:title" content={title} />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta property="og:image" content={image} />
<meta property="og:image:alt" content={imageDescription} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="https://mukesh.name.np" />
<meta property="og:type" content="website" />

<meta property="twitter:title" content={title} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
<meta property="twitter:image:alt" content={imageDescription} />

<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
  rel="stylesheet"
/>

<script is:inline>
  // This code is inlined in the head to make dark mode instant & blocking.
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("theme-dark");

  if (typeof localStorage !== "undefined") {
    // Watch the document element and persist user preference when it changes.
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("theme-dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
